.container{
    width: 800px;
    height: 1100px;
    margin-top: 200px;
    margin-left: 100px;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 300px;
    border-radius: 30px;
    background-color: peru;
}

.item1{
    width: 100px;
    height: 100px;
    background-color:chartreuse;
    position: sticky;
    top: 50px;
    right: 30%;
}

.item2{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    /* position: absolute;
    bottom: 30px;
    left: 50%; */
    background-color:purple;
}

.item3{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    background-color:aquamarine;
}